@import '../../../styles/config.scss';

.container {
  @include flexbox($direction: column);
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
}

.header {
  @include flexbox($direction: column, $align: flex-start);

  width: 100%;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid $gray2;
}

.headerLabelContainer {
  @include flexbox;
  column-gap: 1rem;

  margin-bottom: 0.25rem;
}

.headerLabel {
  @include title3($weight: $medium);
}

.detailsContainer {
  @include flexbox;
  column-gap: 1.5rem;

  margin-top: 1rem;
}

.detail {
  @include flexbox;
  column-gap: 0.5rem;
}

.detailsLabel {
  @include body1($weight: $light);
}

.body {
  @include flexbox($direction: column, $align: flex-start);

  width: 100%;
  row-gap: 1rem;
  padding: 2rem;
}

.button {
  @include flexbox;
  align-self: flex-end;

  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  margin: 1rem;

  transition: all 100ms ease;

  &:hover {
    opacity: 0.9;
  }
}

.primary {
  composes: button;

  background-color: $accent-color;

  .buttonLabel {
    @include body1($medium);

    color: white;
  }
}

.secondary {
  composes: button;

  .buttonLabel {
    @include body1($medium);

    color: $gray4;
  }
}
