@import 'config.scss';

:root {
  font-size: 16px;
}

body {
  font-family: $poppins;
  background-color: $main-background-color;
  color: $black;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
