@import '../../styles/config.scss';

.reservationCard {
  @include flexbox($justify: space-between);

  padding: 0.875rem 1.5rem;
  border: 1px solid $black;
  border-radius: 0.75rem;
  width: 100%;
  // background-color: white;
}

.eventMainDetailsContainer {
  @include flexbox($direction: column, $align: flex-start);

  row-gap: 0.25rem;
}

.eventName {
  @include title3;
}

.eventOrganizerLabel {
  @include body1;

  color: $gray4;
}

.eventTime {
  @include body1($weight: $medium);
}
